:root {
  --main-theme: #ff9632;
  --nav-font-size: 16px;
  --nav-bar-height: 79px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Knewave-Regular", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

button {
  cursor: pointer;
}

h2 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

@font-face {
  font-family: "Knewave-Regular";
  font-weight: 100;
  src: url("./fonts/Knewave-Regular.ttf");
}
